<header>
  <div class="container">
    <div class="row">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-warning dropdown-toggle beerForPizza"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Beer with pizza
          <div class="dropdown-list-hide dropdown-menu-pizza"></div>
        </button>

        <button
          type="button"
          class="btn btn-danger dropdown-toggle beerForSteak"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Beer with steak
          <div class="dropdown-list-hide dropdown-menu-steak"></div>
        </button>

        <button
          type="button"
          class="btn btn-success dropdown-toggle beerAll"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          All available beers
          <div class="dropdown-list-hide dropdown-menu-all"></div>
        </button>
      </div>
      {{!-- <div class="btn__wrapper">
        <button type="button" class="sortByAbvPizza">Sort By abv</button>
        <button type="button" class="sortByAbvSteak">Sort By abv</button>
        <button type="button" class="sortByAbvAll">Sort By abv</button>
      </div> --}}
    </div>
  </div>
</header>