<main class="main">
  <div class="container">
  <div class="main__modal">
    <div class="main__img">
      <img class="main__beer-img" src="" alt="" />
    </div>
    <div class="main__info">
      <div class="main__title"></div>
      <div class="main__tagline"></div>
      <div class="main__abv"></div>
      <div class="main__description"></div>
      <div class="main__food-pairing"></div>
    </div>
  </div>
  </div>
</main>