.btn {
    position: relative;
}
.btn__wrapper {
    display: flex;
    justify-content: space-around;
}
.dropdown-list-hide {
    position: absolute;
    display: none;
    left: -10px;
}
.dropdown-list-show {
    display: block;
    text-align: left;
    overflow-y: scroll;
    margin-top: 50px;
    height: 50vh;
    max-width: 300px;
}
.dropdown-item {
    border-bottom: 1px solid lightgray;
    position: relative;
}
.dropdown-item a {
    color: black;
    overflow: auto;
    display: flex;
    align-items: center;
    white-space: pre-wrap;
}
img {
    width: 20px;
    margin-left: 20px;
}
